/* Basic Styles */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Archivo", sans-serif;
    height: 100vh;
    background-image: url("assets/lux-bgblack.jpg");
    background-repeat: no-repeat;
    background-position: 35% 25%;
    background-size: contain;
    background-color: #1F1F1F;
    background-attachment: fixed;
    margin: 0 auto;
}

/* NAV */
.main-nav{
    display: flex;
    background-color: rgba(17, 16, 16, 0.95); 
    border-bottom: 1px solid white;
}

.logo{
    color: white;
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 1px;
    padding: 12px;
    padding-left: 5px;
    
    /* transition: color 0.3s ease; */

}

a.logo:link{
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
}

a.logo:visited{
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
} 

/* Main Content*/
.content{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    margin-top: 12em;
}

/*Header for content/form box*/
.header{
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    color:white;
    background-color: rgba(17, 16, 16, 0.95);
    border: 1px solid white;
    border-bottom: none;
  
    /* margin-top: 5em; */
}

.header > span {
    display: inline-block;
    cursor: default;
    letter-spacing: .05em;
    font-size: 1.2em;
    padding: 20px 12px;
}

/*Separate box from box header*/
.black-box{
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    /* margin-top: 30%; */
    background-color: rgba(17, 16, 16, 0.95);
    height: 180px;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
}


.sum-label{
    color:white;
    font-size: 1.5em;
    letter-spacing: .5px;
    padding: 20px 0;
}
/*Row for sum input and buttons*/
.row{
    display: flex;
    flex-direction: row;
}

.sum-input{
    letter-spacing: .05em;
    font-size: 1.5em;
    color: white;
    height: 50px;
    width: 70%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    
} 

/*Region Button*/
.dropbtn{
    border: 1px solid white;  /*Removes border*/
    height: 50px;
    min-width: 70px;
    font-size: 1em;
    letter-spacing: .05em;
    padding: 15px 13px 15px 15px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: white;
}

.dropbtn:after{
    content:"▼";
    font-size: .6em;
    padding-left: 2px;
}

.dropbtn:hover{
    background-color: whitesmoke;
    color: black;
}

/*Dropdown for region selection*/
.dropdown-cont{
    width: 100%;
    height: 0;
    background-color: rgba(17, 16, 16, 0.95);
    border: 1px solid white;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s ease;
    opacity: 0;
    overflow: auto;
}

.dropdown:hover .dropdown-cont, .dropdown:active .dropdown-cont{
    height: 173px;
    visibility: visible;
    opacity: 1;
}


.dropdown-cont span{
    color:white;
    display: inline-block; 
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: center;
    padding: 12px 8px;
    cursor: default;
    transition: background-color 0.3s ease;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
}

.dropdown-cont span:last-child{
    border-bottom: none;
}

.dropdown-cont span:hover{
    color: black;
    background-color: whitesmoke;
}

/*Custom Scrollbar*/
.scroll{
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}
.scroll::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb{
    background-color:whitesmoke;
}


.search-btn {
    font-size: 1em;
    letter-spacing: .05em;
    padding: 6px 0;
    Color: white;
    transition: background-color 0.3s ease;
    background-color:transparent;
    border: 1px solid white;
    width: 30%;
    height:50px;
}

.search-btn:hover {
    background-color: whitesmoke;
    color: black;
}

/* .summoner-result{
    transition: visibility 0s, opacity 0.3s ease;
    opacity: 0;
} */

.ProfileIcon{
    margin-top: -7px;
}

.ProfileIcon > img{
    width: 150px;
    height: 150px;
}

.ProfileName{
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.footer{
    flex-shrink: 0;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    padding: 10px;
    font-family: "Helvetica Neue",
    Helvetica,"Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma;
    line-height: 1.5;
    font-size: 10px;
    color:rgb(255, 255, 255);
    border: 1px solid black;
    background-color: #1F1F1F;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


.footer > p{
    text-align: center;
}
/* Media Queries */
/*iPad height*/
@media only screen and (min-height: 1024px){
    body{
        background-position: 30% 10%;
    }
}
/* Desktop/Laptop*/
@media only screen and (min-width: 1024px){
    body{
        background-position-y: 50px;
    }
    .black-box{
        /* margin-top: 11em; */
        width:50%;
        height: 225px;
        border: 1px solid white;
    }

    /* .sum-input{
        width: 70%;
    }

    .search-btn{
        width: 30%;
    } */

    .footer > p{
        width: 50%;
        /* border: 1px solid black;
        border-bottom: none; */
        text-align: center;
    }

}